DirectoryIndex src/client/index.php

Options -Indexes
Options +FollowSymlinks

<Files .htaccess>
deny from all
</Files>

RewriteEngine On
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.+) http://localhost/app-template/?p=$1 [R]